%h1 Listing comments
%table
  %tr
    %th published
    %th user_name
    %th commentable_type
    %th commentable_id
    %th comment
    %th action

  - @comments.each do |comment|
    %tr
      %td= link_to comment.published.to_s, edit_admin_comment_path(comment)
      %td= comment.user_name
      %td= comment.commentable_type
      %td= comment.commentable_id
      %td= comment.comment[0..255]
      %td
        -case comment.commentable_type
        -when 'Post'
          = link_to 'replay', short_post_path(Post.find(comment.commentable_id).post_category.slug, Post.find(comment.commentable_id).slug , :anchor => "comment_list")
        -when 'Product'
          = link_to "replay", category_product_path(Product.find(comment.commentable_id).category, comment.commentable_id , :anchor => 'comment_list')

%br/
= link_to 'New comment', new_admin_comment_path