-if post.can_comment
  .comments_list
    %a{:name => "comment_list"}
    %h3="комментариев (#{Comment.find_all_by_commentable_id(post.id).count})"
    %ul
      - Comment.find_all_by_commentable_id(post.id).each do |comm|
        - if comm.published?
          %li
            %p.head
              =mail_to('#', comm.user_name,{:class=>'user_name'})
              %span.created_at=Russian::strftime (comm.created_at, "%d %B %Y" )
            %p.comment= comm.comment

  .comments_form
    %a{:name => "comment_form"}
    %h3 добавьте комментарий:
    - if notice
      %p#notice= notice
    - form_for @comment, :url => add_comment_path(PostCategory.find_by_slug!(params[:post_category_slug]), post,@comment,:anchor => "comment_form") do |f|
      .field
        = f.label "Имя:"
        = f.text_field :user_name
      .field
        = f.label "E-mail:"
        = f.text_field :user_email
      .field
        = f.label "Комментарий:"
        = f.text_area :comment
      = hidden_field_tag  :post_id,  post.id
      = hidden_field_tag  :commentable_id,  post.id
      = hidden_field_tag  :commentable_type, post.type
      .actions
        = f.submit 'ОТПРАВИТЬ', :class=>"submit_blue"
