-if post.can_comment
  .post_comments_list
    %a{:name => "comment_list"}
    %h3="коментарии (#{Comment.find_all_by_commentable_id(post.id).count})"
    %ul
      - Comment.find_all_by_commentable_id(post.id).each do |с|
        %li
          %p.head
            =mail_to(с.user_email, с.user_name,{:class=>'user_name'})
            %span.created_at=Russian::strftime (с.created_at, "%d %B %Y" )
          %p.comment= с.comment

  .post_comments_form
    %a{:name => "comment_form"}
    %h3 добавте коментарий:
    - if notice
      %p#notice= notice
    - form_for @comment, :url => add_comment_path(@post_category, post,@comment,:anchor => "comment_form") do |f|
      .field
        = f.label "Имя:"
        = f.text_field :user_name
      .field
        = f.label "E-mail:"
        = f.text_field :user_email
      .field
        = f.label "Коментарий:"
        = f.text_area :comment
      = hidden_field_tag  :post_id,  post.id
      = hidden_field_tag  :commentable_id,  post.id
      = hidden_field_tag  :commentable_type, post.type
      .actions
        = f.submit 'ОТПРАВИТЬ', :class=>"submit_blue"
