%p#notice= notice
%p
  %b Title:
  = @article.title
%p
  %b Meta k:
  = @article.meta_k
%p
  %b Meta d:
  = @article.meta_d
%p
  %b Body:
  = @article.body
%p
  %b Slug:
  = @article.slug
%p
  %b Views:
  = @article.views
= link_to 'Edit', edit_admin_article_path(@article)
|
\#{link_to 'Back', admin_articles_path}