%h1 Здравствуйте!
-case @order.status
  -when 'payment_waiting'
    %h3 Ваш заказ № #{@order.id} переведен в статус: Ожидает оплату.
    -if @order.pay_type == Order::PAYMENT_TYPES[0]
      %p Оплатить можно в любом терменале или отделении Приват Банка по карточному счету 4405885814110604 имя ОВЧАРЕНКО ВЛАДИМИР ВЛАДИМИРОВИЧ
      %p К оплате: #{Order.order_sum(@order)} грн (стоимость изделий) + #{Order::DELIVERY_PRICE} грн (доставка) = <strong>#{Order.order_sum(@order)+Order::DELIVERY_PRICE } грн.</strong>
    %br
  -when 'paid'
    %h3 Ваш заказ № #{@order.id} переведен в статус: Оплачено.
    %p В ближайшее время товар будет отправлен.
    %br
  -when 'sent'
    %h3 Ваш заказ № #{@order.id} переведен в статус: Отправлено.
    %p Номер товарно-транспортной накладной <strong>#{@order.shipment_id}</strong>
    -if @order.delivery_type == Order::DELIVERY_TYPES[0]
      %p Отслежевать статус посылки можна по #{link_to'ссылке здесь','http://restricted.novaposhta.ua/public/tracking/?en='+@order.shipment_id}
    -elsif @order.delivery_type == Order::DELIVERY_TYPES[1]
      %p Отслежевать статус посылки можна по #{link_to'ссылке здесь','http://80.91.187.254:8080/servlet/SMCSearch2?lang=ua&barcode='+@order.shipment_id}
    %br
  -when 'success'
    %h3 Ваш заказ № #{@order.id} переведен в статус: Порядок.
    %p Очень рады что Вы совершили покупки в нашем магазине, надеемся что Вам все понравилось.
    %p В категории #{link_to 'Новинки', 'http://poshstore.com.ua/home/new'} следите за новыми поступлениями.
    %p А #{link_to 'здесь', 'http://vk.com/poshstoreua'} и #{link_to 'здесь', 'http://vk.com/poshstore'}  мы Вконтакте, давайте дружить.
    %br
  -when 'refused'
    %h3 Ваш заказ № #{@order.id} переведен в статус: Отказ.
    %br
  -when 'closed'
    %h3 Ваш заказ № #{@order.id} переведен в статус: Закрыт.
    %br
%p С уважением коллектив #{link_to 'PoshStore',root_url}