<h1> Customer made the order:</h1>

<p>
  Name :<%= @order.name %><br>
  Phone :<%= @order.telephone %><br>
  Email :<%= @order.email %><br>
  Address :<%= @order.address %><br>
  Pay_type :<%= @order.pay_type %><br>
  Delivery_type:<%= @order.delivery_type %>
  Referer :<%= @order.referer %>
</p>

<p>Customer ordered the following items:</p>

<p><%= render :template => 'line_items/_mail_line_item', :locals => {:line_items => @order.line_items} %></p>
