= form_for([:admin,@author]) do |f|
  - if @author.errors.any?
    #error_explanation
      %h5
        = pluralize(@author.errors.count, "error")
        prohibited this author from being saved:
      %ul
        - @author.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :published
    %br/
    = f.check_box :published
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :fullname
    %br/
    = f.text_field :fullname
  .field
    = f.label :email
    %br/
    = f.text_field :email
  .field
    = f.label :phone
    %br/
    = f.text_field :phone
  .field
    = f.label :city
    %br/
    = f.text_field :city
  .field
    = f.label :address
    %br/
    = f.text_field :address      
  .field
    = f.label "Credit Card Number"
    %br/
    = f.text_field :ccn
  .field
    = f.label :description
    %br/
    = f.text_area :description
  .actions
    = f.submit
    = link_to "Cancel", :back, :class=>"cancel"