%h1 Listing authors
%table
  %tr
    %th Name
    %th Description
    %th
    %th
    %th
  - @authors.each do |author|
    %tr
      %td= author.name
      %td= author.description
      %td= link_to 'Show', admin_author_path(author)
      %td= link_to 'Edit', edit_admin_author_path(author)
      %td= link_to 'Destroy', admin_author_path(author), :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Author', new_admin_author_path