%p#notice= notice
%p
  %b Name:
  = @author.name
%p
  %b Fullname:
  = @author.fullname
%p
  %b Phone:
  = @author.phone
%p
  %b Email:
  = @author.email
%p
  %b City:
  = @author.city
%p
  %b Address:
  = @author.address
%p
  %b CCN:
  = @author.ccn
%p
  %b Description:
  = @author.description
%br
.actions
  = link_to "Back", :back, :class=>"cancel"