= form_for [:admin,@expense] do |f|
  -if @expense.errors.any?
    #error_explanation
      %h2= "#{pluralize(@expense.errors.count, "error")} prohibited this expense from being saved:"
      %ul
        - @expense.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :amount
    = f.text_field :amount
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :created_at
    = f.date_select :created_at

  .actions
    = f.submit 'Save'
    = link_to "Cancel", :back, :class=>"cancel"
