%h1 Listing orders
=render "admin/orders/sort_links"
%table
  %tr
    %th ID
    %th Name
    %th Phone
    -#%th Email
    %th Address
    %th Delivery_type
    %th shipment_id
    %th Order date:
    -#%th Pay type
    %th Status
  - @orders.each do |order|
    %tr
      %td= link_to order.id, admin_order_path(order)
      %td= link_to order.name, admin_order_path(order)
      %td= order.telephone
      -#%td= order.email
      %td= order.address
      %td= order.delivery_type
      %td= order.shipment_id
      %td= order.created_at
      -#%td= order.pay_type
      %td= link_to order.status.to_s, edit_admin_order_path(order)
%p= will_paginate @orders
%div.post_check_wrap
  =link_to "Новая почта проверка", "http://novaposhta.ua/frontend/tracking",:class=>"cool_buton", :target=>"_blank"
  =link_to "Укрпочта проверка", "http://www.ukrposhta.com/www/upost.nsf/search_post",:class=> "cool_buton", :target=>"_blank"
