%h1 Listing orders
%table
  %tr
    %th Name
    %th Phone
    %th Email
    %th Address
    %th Delivery_type

    %th Pay type
  - @orders.each do |order|
    %tr
      %td= link_to order.name, admin_order_path(order)
      %td= order.telephone
      %td= order.email
      %td= order.address
      %td= order.pay_type
      %td= order.delivery_type      
%br/
= link_to 'New Order', new_admin_order_path

%p= will_paginate @orders