%p#notice= notice
%p
  %b Name:
  = @order.name
%p
  %b Phone:
  = @order.telephone
%p
  %b Email:
  = @order.email
%p
  %b Address:
  = @order.address
%p
  %b Pay_type:
  = @order.pay_type
%p
  %b Delivery_type:
  = @order.delivery_type
%br
%p
  %b Products Are:
  - @line_items.each do |li|
    %br
    -product = Product.find(li.product_id)
    %b=li.quantity
    =" x "
    = link_to product.title, admin_category_product_path(product.category.id,product)
    =product.author.name
    =product.category.name
    ='SUM:'
    %b=product.price*li.quantity

%br

= link_to 'Back', admin_orders_path
