%p#notice= notice
%p
  %b Name:
  = @order.name
%p
  %b Phone:
  = @order.telephone
%p
  %b Email:
  = @order.email
%p
  %b Address:
  = @order.address
%p
  %b Pay_type:
  = @order.pay_type
%p
  %b Delivery_type:
  %span.red= @order.delivery_type
%p
  %b Note:
  %span.green= @order.note
%p
  %b Referer:
  = @order.referer
%br
=link_to 'Get Post Status', postbox_path(@order) ,:class=>"get-postbox"
#postbox
  =image_tag 'ajax-loader.gif', :id => 'loading'

%br
%h4
  %b 4149437709201550﻿ Лаврова Анна Михайловна
%br
%p
  %b Products Are:
  %table
    %tr
      %th Name
      %th Quantity
      %th Author
      %th Category
      %th Price
      %th Author Price
      %th Wages
      %th Actions
    - @line_items.each do |li|
      %tr
        -product = Product.find(li.product_id)
        %td=link_to product.title, admin_category_product_path(product.category.id,product)
        %td
          %strong=li.quantity
          = ' ('
          =link_to 'inc', admin_line_item_inc_path(li)
          = '/'
          =link_to 'dec', admin_line_item_dec_path(li)
          = ') '
        %td=link_to product.author.name, admin_author_path(product.author.id)
        %td=product.category.name
        %td=product.price*li.quantity
        %td=product.author_price*li.quantity unless product.author_price.nil?
        %td=(product.price*li.quantity)-(product.author_price*li.quantity) unless product.author_price.nil?
        -@tsum = @tsum.to_i+product.price*li.quantity.to_i
        -if !product.author_price.nil?
          -@asum =@asum.to_i+product.author_price*li.quantity.to_i
        %td= button_to 'DELETE', admin_line_item_path(li), :method => :delete, :confirm => 'Are you sure?', :class=>"remove"
    %tr
      %td{:colspan => "4",:style=>"border:0px!important;"}
      %td.green=@tsum.to_i
      %td.green=@asum.to_i
      %td.green=@tsum.to_i-@asum.to_i
    %tr
      %td{:colspan => "4",:style=>"border:0px!important;"}
      %td.red="+#{Order::DELIVERY_PRICE}"
      %td.red
      %td.red="-#{@order.spent.to_i}"
    %tr
      %td{:colspan => "4",:style=>"border:0px!important;"}
      %td.red=@tsum.to_i+Order::DELIVERY_PRICE
      %td.red
      %td.red=@tsum.to_i+Order::DELIVERY_PRICE-@asum.to_i-@order.spent.to_i
.actions
  = link_to 'Edit', edit_admin_order_path(@order),:class=>"cool_buton"
  = link_to 'Back', admin_orders_path,:class=>"cancel"

