- content_for :custom_css_js do
  = stylesheet_link_tag "bx_styles"
  = javascript_include_tag "jquery-1.5.min"
  = javascript_include_tag "jquery.bxSlider.min"
  = javascript_include_tag "jquery.easing.1.3"


  :javascript
    $(document).ready(function(){
        $('#top_products').bxSlider({
            speed: 1900,
            pager: true/*,
            easing: 'easeOutBounce',
            auto: true,*/
        });
    });

  :javascript
    $(document).ready(function(){
        $('#new_products').bxSlider({
            speed: 1500,
            pager: true
        });
    });

%h3=t('home.welcome')
%p=t('home.welcome_text')
.top
  %h3=t('home.top_products')
  #top_products
    - @top_products.each do |product|
      .product
        .body
          = link_to category_product_path(product.category_id,product) , :class => "img" do
            = image_tag product.image.url(:thumb)
          = link_to category_product_path(product.category_id,product) , :class => "title" do
            %h4= product.title.to_s
          = link_to author_products_path(product.author_id) , :class => "author" do
            %h5=product.author.name
        %span.price= number_to_currency(product.price, :unit => "Грн.", :separator => ",", :delimiter => " ", :format => "%n %u" )
  .paginator
    -#%a.back{:href => "/"} ← Назад
    .line
    -#%a.forward{:href => "/"} Еще →
  .top_left_corner
  .top_right_corner
  .bottom_left_corner
  .bottom_right_corner
.new
  %h3=t('home.new_products')
  #new_products
    - @new_products.each do |product|
      .product
        .body
          = link_to category_product_path(product.category_id,product) , :class => "img" do
            = image_tag product.image.url(:thumb)
          = link_to category_product_path(product.category_id,product) , :class => "title" do
            %h4=product.title.to_s
          = link_to author_products_path(product.author_id) , :class => "author" do
            %h5=product.author.name
        %span.price= number_to_currency(product.price, :unit => "Грн.", :separator => ",", :delimiter => " ", :format => "%n %u" )
  .paginator
    -#%a.back{:href => "/"} ← Назад
    .line
    -#%a.forward{:href => "/"} Еще →
  .top_left_corner
  .top_right_corner
  .bottom_left_corner
  .bottom_right_corner