= form_for(@order) do |f|
  - if @order.errors.any?
    #error_explanation
      %h5
        = pluralize(@order.errors.count, "error")
        prohibited this order from being saved:
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label t('orders.name')
    %br/
    = f.text_field :name, :size => 40
  .field
    = f.label t('orders.telephone')
    %br/
    = f.text_field :telephone, :size => 40
  .field
    = f.label t('orders.email')
    %br/
    = f.email_field :email, :size => 40
  .field
    = f.label t('orders.address')
    %br/
    = f.text_area :address, :rows => 3, :cols => 40
  .field
    = f.label t('orders.pay_type')
    %br/
    = f.select :pay_type, Order::PAYMENT_TYPES, :prompt => 'Выберите'
  .field
    = f.label t('orders.delivery_type')
    %br/
    = f.select :delivery_type, Order::DELIVERY_TYPES, :prompt => 'Выберите'


  .actions
    = f.submit t('orders.place_order')

