-if current_user
  = link_to 'Разлогиниться', logout_path,:class=>"cart"
-elsif @current_cart.nil? || session[:cart_id].nil?
  = link_to '' ,:class=>"cart" do
    Корзина пуста :(
-else
  = link_to  @current_cart , :class=>"cart" do
    =session[:cart_id]
    ="(#{@current_cart.line_items.count})"
    =t('carts.cart.sum')
    = @current_cart.total_price.to_s+" грн."