-if current_user
  = link_to 'Разлогиниться', logout_path,:class=>"cart"
-else
  -if @current_cart.total_price == 0
    = link_to '' ,:class=>"cart" do
      Корзина пуста :(
  -else
    = link_to  @current_cart , :class=>"cart" do
      ="(#{@current_cart.line_items.count})"
      =t('carts.cart.sum')
      = @current_cart.total_price.to_s+" грн."