- content_for :custom_css_js do
  = stylesheet_link_tag 'jquery.fancybox-1.3.4'
  = stylesheet_link_tag "bx_styles"
  = javascript_include_tag "jquery-1.4.3.min"
  = javascript_include_tag "jquery.fancybox-1.3.4.pack"
  = javascript_include_tag "jquery.mousewheel-3.0.4.pack"
  = javascript_include_tag "jquery.bxSlider.min"
  = javascript_include_tag "jquery.easing.1.3"
  :javascript
    $(document).ready(function() {
      $("a#light_box").fancybox({
        'transitionIn'	: 'none',
        'transitionOut'	: 'none'
      });

      $('#top_products').bxSlider({
        speed: 1900,
        pager: true/*,
        easing: 'easeOutBounce',
        auto: true,*/
      });
    });

%h1.cart_title=t('carts.cart.title')
%table.cart_table
  %tr.theader
    %th.foto=t('carts.cart.foto')
    %th=t('carts.cart.name')
    %th=t('carts.cart.quantity')
    %th.price=t('carts.cart.price')
    %th

  = render(@cart.line_items)
.total_price_block
  %span.total_text=t('carts.cart.total')
  %span.total_price=@cart.total_price.to_s
  %span.total_text=" Ğ³Ñ€Ğ½."
.button_area
  = link_to t('carts.cart.continue'), session[:product_params], :class=>"back"
  = button_to t('carts.cart.empty'), @cart, :method => :delete, :confirm => 'Are you sure?', :class=>"empty_cart"
  .cart
.happy_button
  = button_to t('carts.cart.checkout'), new_order_path, :method => :get, :class=> "submit"

