%h1 Listing reports

%table
  %tr
    %th Name
    %th Param
    %th
    %th
    %th

  - @reports.each do |report|
    %tr
      %td= report.name
      %td= report.param
      %td= link_to 'Show', [:admin,report]
      %td= link_to 'Edit', edit_admin_report_path(report)
      %td= link_to 'Destroy', [:admin,report], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Report', new_admin_report_path
