.actions
  = link_to "All reports", admin_reports_path, :class=>"cancel"

- form_tag admin_report_path, :method => 'get' do
  = text_field_tag :from, params[:from]
  = text_field_tag :to, params[:to]
  = submit_tag "Search", :name => nil
-from = params[:from].to_datetime.to_formatted_s(:db) unless params[:from].blank?
-to = params[:to].to_datetime.to_formatted_s(:db) unless params[:to].blank?
%h1=@report.name.capitalize
%p
  -if from && to
    -case @report.name
      -when "by_status"
        -@orders = Order.by_status(from,to)
        = render "admin/orders/list"
        = puts_status_report @orders
      -when "by_spent"
        -@orders =Order.by_spent(from,to)
        = render "admin/orders/list"
        = puts_spent_report @orders
      -when "wages"
        -@orders =Order.wages(from,to)
        = render "admin/orders/list"
        = puts_wages_report @orders