= form_for [:admin,@category,@product], :html => { :multipart => true } do |f|
  - if @product.errors.any?
    #error_explanation
      %h5
        = pluralize(@product.errors.count, "error")
        prohibited this product from being saved:
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :published
    %br
    = f.check_box :published
  .field
    = f.label :title
    %br
    = f.text_field :title
  .field
    %br
    = image_tag @product.image.url(:thumb)
    = f.label :image
    %br
    = f.file_field :image
  .field
    = f.label :author_price
    %br
    = f.text_field :author_price
  -if params[:action]=='edit'
    .field
      = f.label :price
      %br
      = f.text_field :price
    .field
      %span#calc Calc 
    .field
      = f.label :category
      %br
      = f.collection_select :category_id, Category.find(:all), :id, :name
  .field
    = f.label :author
    %br
    = f.collection_select :author_id, Author.find(:all), :id, :name, :prompt => "Выбрать автора"
  .field
    = f.label :status
    %br
    = f.select :status, Product::PRODUCT_STATUS, :prompt => 'Есть в наличии'
  .field
    = f.label :description
    %br
    = f.text_area :description
  .actions
    = f.submit