%h1 Listing products
%table.catalog
  %tr
    %th.id id
    %th Pic
    %th Title
    %th description
    %th Author
    %th Clc
    %th Price
    %th.edit EDIT
    %th.delete DEL    
  - @products.each do |product|
    %tr
      %td= product.id
      %td.image
        =link_to edit_admin_category_product_path(@category,product) do
          = image_tag product.image.url(:small), :class=> product.published ? 'images' : 'kill'
      %td= product.title
      %td= product.description.to_s[0..100]
      %td= product.author.name
      %td= product.click_count
      %td= number_to_currency(product.price, :unit => "", :separator => ",", :delimiter => " ", :format => "%n %u" )
      %td.edit
        = link_to 'Edit', edit_admin_category_product_path(@category,product)
      %td.delete
        = link_to 'Delete', admin_category_product_path(@category,product), :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Product', new_admin_category_product_path(@category)
%p= will_paginate @products