- content_for :custom_css do
  = stylesheet_link_tag 'bootstrap.min'

.happy_form
  = form_for [@category,@product], :html => { :multipart => true } do |f|
    - if @product.errors.any?
      #error_explanation
        %h5
          Исправьте ошибки для сохранения заказа:
        %ul
          - @product.errors.full_messages.each do |msg|
            %li= msg
    -if params[:action]=='edit'
      .field
        = f.label "Внимание, убрав галочку и нажав 'Сохранить' товар удалится !"
        
        = f.check_box :published
      .field
        = f.label "Категория"
        
        = f.collection_select :category_id, Category.without_children, :id, :name
      
      = image_tag @product.image.url(:thumb)

    .field.main
      = f.label "Главная Фотография  (размер 800х600 или 400х300)"
      
      = f.file_field :image, :style=>"color:#630; background:#ffc none; font-size:120%; font-family:Courier,monospace; font-weight:bold;"

    .field.uploads
      = f.label "Дополнительные фотографии любого размера"
      =f.fields_for :uploads do |upload|
        -if upload.object.new_record?
          %p
            =upload.file_field :photo

    -if params[:action]=='edit'
      .field.uploads_photo
        = f.label "Отметьте галочкой фото которые удалятся после сохранения"
        = f.fields_for :uploads do |upload|
          - unless upload.object.new_record?
            .thumb
              = upload.check_box :_destroy
              = f.label "Удалить ?"
              %br
              = image_tag(upload.object.photo.url(:thumb))


    .field
      = f.label "Заголовок (уникальное длина 45 символов)"
      
      -if params[:action]=='new'
        = f.text_field :title, :value =>@category.name+' '
      -else
        = f.text_field :title
    .field
      = f.label "Цена автора (без наценки)"
      
      = f.text_field :author_price
    .field
      = f.label "Статус товара"
      
      = f.select :status, Product::PRODUCT_STATUS, :prompt => 'Есть в наличии'

    .field
      = f.label "Описание товара (чем больше тем лучше)"
      
      = f.text_area :description, :class => "mceEditor"

    =hidden_field_tag 'product[author_id]', current_user.is_admin? ? '2' : current_user.author.id
    .actions
      = f.submit "Сохранить", :class=>"btn btn-success"
      = link_to "Отмена", :back, :class=>"btn btn-danger"