.happy_form
  = form_for [@category,@product], :html => { :multipart => true } do |f|
    - if @product.errors.any?
      #error_explanation
        %h5
          = pluralize(@product.errors.count, "ошибки")
          исправте пожалуйста:
        %ul
          - @product.errors.full_messages.each do |msg|
            %li= msg
    -if params[:action]=='edit'
      .field
        = f.label "Внимание, убрав галочку и нажав 'Сохранить' товар удалится !"
        %br
        = f.check_box :published
      .field
        = f.label "Категория"
        %br
        = f.collection_select :category_id, Category.non_root_category, :id, :name
      %br
      = image_tag @product.image.url(:thumb)

    .field
      = f.label "Картинка  (размер 800х600 или 400х300)"
      %br
      = f.file_field :image, :style=>"color:#630; background:#ffc none; font-size:120%; font-family:Courier,monospace; font-weight:bold;"
    .field
      = f.label "Заголовок изделие (уникальное поле )"
      %br
      = f.text_field :title
    .field
      = f.label "Цена автора (без наценки)"
      %br
      = f.text_field :author_price
    .field
      = f.label "Описание товара (чем больше тем лучше)"
      %br
      = f.text_area :description

    =hidden_field_tag 'product[author_id]', current_user.is_admin? ? '2' : current_user.author.id
    .actions
      = f.submit "Сохранить"
      = link_to "Отмена", :back, :class=>"cancel"