- content_for :custom_css_js do
  = stylesheet_link_tag 'bootstrap.min'

%p.product_nav
  -if current_user && (params[:category_id]) && (can? :create, Product) && (@category.children.count <=1)
    -case current_user.role.to_s
      -when 'dealer'
        = link_to "Добавить товар",new_category_product_path(@category), :class=>"btn btn-success add_product"
      -when 'author'
        = link_to "Добавить товар",new_category_product_path(@category), :class=>"btn btn-success add_product" if @category.dealers_only == false

  Сортировать по:
  - if params[:category_id]
    = link_to " Цене ", category_products_path(@category, :sort => "price", :per_page => params[:per_page] ), :class=>params[:sort]=='price' ? "selected":"normal"
    = link_to " Дате ", category_products_path(@category, :sort => "date", :per_page => params[:per_page] ), :class=>params[:sort]=='date' ? "selected":"normal"
    =# render "products/per_page"
  - elsif params[:author_id]
    = link_to " Цене ", author_products_path(@category, :sort => "price", :per_page =>params[:per_page] ), :class=>params[:sort]=='price' ? "selected":"normal"
    = link_to " Дате ", author_products_path(@category, :sort => "date", :per_page =>params[:per_page] ), :class=>params[:sort]=='date' ? "selected":"normal"
    =# render "products/per_page"

