%p.product_nav
  - if params[:category_id]
    = link_to :order_by_price, category_products_path(@category, :sort => "price", :per_page =>params[:per_page] )
    = link_to :order_by_popularity, category_products_path(@category, :sort => "popularity", :per_page =>params[:per_page] )
    = select_tag :per_page, options_for_select([9,18,36,72], params[:per_page].to_i), :onchange => "if(this.value){window.location='?per_page='+this.value;}"
  - elsif params[:author_id]
    = link_to :order_by_price, author_products_path(@category, :sort => "price", :per_page =>params[:per_page] )
    = link_to :order_by_popularity, author_products_path(@category, :sort => "popularity", :per_page =>params[:per_page] )
    = select_tag :per_page, options_for_select([9,18,36,72], params[:per_page].to_i), :onchange => "if(this.value){window.location='?per_page='+this.value;}"


