- content_for :custom_css_js do
  = javascript_include_tag "jquery.ias.min"

  :javascript
    jQuery.ias({
      container : '.content',
      item: '.product',
      pagination: '.content .pagination',
      next: '.next_page',
      loader: '<img class="ajax-loader" src="/images/ajax-loader.gif" />',
      tresholdMargin: -500

    });

    jQuery(document).ready(function(){

        // fade in #back-top
        jQuery(function () {
            jQuery(window).scroll(function () {
                if (jQuery(this).scrollTop() > 1500) {
                    jQuery('#back-top').fadeIn();
                } else {
                    jQuery('#back-top').fadeOut();
                }
            });

            // scroll body to 0px on click
            jQuery('#back-top a').click(function () {
                jQuery('body,html').animate({
                    scrollTop: 0
                }, 1200);
                return false;
            });
        });

    });


-form_tag search_products_path, :method => 'get', :id => "products_search" do
  .s_wrap
    = text_field_tag :search, params[:search] , :class=>'input', :name => "search", :onblur => "if (this.value == '') { this.value='Search'", :onfocus => "if (this.value == 'найти...') { this.value='';};", :type => "text", :value => "найти..."
    = submit_tag "go", :name => nil, :class=>"hidden"

-if !current_user
  -cache "category#{params[:category_id]}_author#{params[:author_id]}_page#{params[:page]}_sort#{params[:sort]}" do
    %h1=params[:author_id]? "Работы мастера #{@category.name.to_s}" : @category.name.to_s
    = render 'nav_panel'
    = render 'products'
    %p#back-top{:style=>'display: none;'}
      %span=link_to ('','#top')
-else
  %h1=params[:author_id]? "Работы мастера #{@category.name.to_s}" : @category.name.to_s
  = render 'nav_panel'
  = render 'products'
  %p#back-top{:style=>'display: none;'}
    %span=link_to ('','#top')