- @products.each do |product|
  .product
    = link_to category_product_path(product.category_id,product) , :class => "image" do
      = image_tag product.image.url(:thumb)
    = link_to category_product_path(product.category_id,product) , :class => "title" do  
      = product.title.to_s
    = link_to product.author.name, author_products_path(product.author_id) , :class => "author"
    .price= number_to_currency(product.price, :unit => "Грн.", :separator => ",", :delimiter => " ", :format => "%n %u" )

%p= will_paginate @products