- content_for :custom_css do
  %script{:src => "http://userapi.com/js/api/openapi.js?34", :type => "text/javascript"}
  :javascript
    VK.init({apiId: 2665924, onlyWidgets: true});
- content_for :custom_js do
  = javascript_include_tag "jquery.bxSlider.min"
  = javascript_include_tag "jquery.fancybox-1.3.4.pack"
  = javascript_include_tag "jquery.mousewheel-3.0.4.pack"
  = javascript_include_tag "jquery.easing-1.3.pack"

  :javascript
    $(document).ready(function() {
      $("a[rel=example_group]").fancybox({
        'transitionIn' : 'elastic',
        'transitionOut' : 'elastic',
        'easingIn' : 'easeOutBack',
        'easingOut' : 'easeInBack'
      });

      $('#top_products').bxSlider({
        speed: 300,
        pager: true/*,
        easing: 'easeOutBounce',
        auto: true,*/
      });

    });
    var addthis_config = {"data_track_addressbar":true};
  %script{:src => "http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f809f0f36c080df", :type => "text/javascript"}


=button_to 'КУПИТЬ &raquo;'.html_safe, line_items_path(:product_id => @product.id), {:class=>"add_to_cart"}
-cache("product_#{@category.id}_#{@product.id}") do
  %h1
    = @product.title
  .photo_box
    .border
      = link_to @product.image.url(:large), :id => "light_box" , :rel=>"example_group" do
        = image_tag(@product.image.url(:medium) , :alt => 'фото ' + @product.title, :title => 'фото '+ @product.title ) unless @product.image.nil?
      -if can? :update, @product
        .actions
          = link_to "",edit_category_product_path(@product.category_id,@product),:class=>"edit", :title=>"Редактировать."
    -if @product.uploads.count >= 1
      .other_photo
        -@product.uploads.take(4).each do |upload|
          .photo_wrap
            = link_to upload.photo.url(:original), :class => "light_box_small", :rel=>"example_group" do
              = image_tag(upload.photo.url(:thumb) , :alt => @product.title+' фото', :title => @product.title+' фото')

  .important
    %b='Цена'
    %span.price= @product.price.to_s+' грн.'
    %span.ru_price= "~ #{(@product.price*4.5).round} руб."
    .addthis_toolbox.addthis_default_style
      %a.addthis_button_vk
      %a.addthis_button_twitter
      %a.addthis_button_facebook
      %a.addthis_button_favorites
      %a.addthis_button_compact
      %a.addthis_counter.addthis_bubble_style
  .product_description
    %p
      %b='Мастер:'
      = link_to @product.author.name.to_s, author_products_path(@product.author) if @product.author
    %p
      %b='Категория:'
      =link_to @product.category.name.to_s, category_products_path(@product.category)
    %p
      %b='Статус:'
      = @product.status.to_s
    -if @product.description.length > 5
      %p
        %b='Описание:'
        = raw @product.description
  .top
    %h3=t('products.see_also_products')
    #top_products
      = render :partial => "products/horizontal_list", :locals => { :products => Product.find_see_also_products(6,@product.category,@product) }
= render :partial => "comments/vkontakte"