- content_for :custom_css_js do
  =# javascript_include_tag "http://code.jquery.com/jquery-latest.js"
  = stylesheet_link_tag 'jquery.fancybox-1.3.4'
  =# javascript_include_tag "jquery-1.5.min"
  = javascript_include_tag "jquery-1.4.3.min"
  = javascript_include_tag "jquery.fancybox-1.3.4.pack"
  = javascript_include_tag "jquery.mousewheel-3.0.4.pack"
  :javascript
    $(document).ready(function() {
      $("a#light_box").fancybox({
        'transitionIn'	: 'none',
        'transitionOut'	: 'none'
      });

      $("#cart_q").fancybox({
          'titlePosition'		: 'inside',
          'transitionIn'		: 'none',
          'transitionOut'		: 'none'
      });

    });

%p#notice= notice
%p
  %b Image:
  = link_to(image_tag(@product.image.url(:medium)), @product.image.url(:medium), :id => "light_box") unless @product.image.nil?
%p
  %b Title:
  = @product.title
%p
  %b Description:
  = @product.description
%p
  %b Price:
  = @product.price
%p
  %b Category:
  = @product.category.name.to_s
%p
  %b Author:
  = @product.author.name.to_s
= button_to 'Add to Cart', line_items_path(:product_id => @product.id)
= link_to 'Back', :back
%br
%a#cart_q{:href => "#qq", :title => "qq"} Add to cart
%div{:style => "display: none;"}
  #qq{:style => "width:400px;height:100px;overflow:auto;"}
    some text