= form_for @custom_order, :html => { :multipart => true } do |f|
  - if @custom_order.errors.any?
    #error_explanation
      %h2
        = pluralize(@custom_order.errors.count, "error")
        prohibited this custom_order from being saved:
      %ul
        - @custom_order.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label "Ваше имя"
    %br/
    = f.text_field :name
  .field
    = f.label "Описание желаемого товара"
    %br/
    = f.text_area :description
  .field
    = f.label "Выберете исполнителя"
    %br
    = f.collection_select :author_id, Author.find(:all), :id, :name, :prompt => "Мастера"
  .field
    = f.label "Если у вас есть изображение желаемого товара, прикрепите"
    %br
    = f.file_field :image
  .field
    = f.label "Ваш е-мейл"
    %br/
    = f.text_field :email
  .field
    = f.label "Ваш телефон"
    %br/
    = f.text_field :phone
  .field
    = f.label "Введите буквы на ресунке"
    %br/
    = recaptcha_tags :public_key => '6LflUcESAAAAANFfdERFut9M5MUuuY6Wlvs-WtdX'
  .actions
    = f.submit




