!!!
%html
  %head
    %title Store
    =# stylesheet_link_tag :all
    = stylesheet_link_tag "style"
    =# javascript_include_tag :defaults
    = yield :custom_css_js
    = csrf_meta_tag
  %body
    .header.round
      .logo.round
        = link_to "logo", root_path
      .cart.round
        = render "carts/header_cart"
    .wrapper.round
      .sidebar.round
        .categories
          = render "categories/list"
        .authors
          = render "authors/list"
        %ul.custom_order
          %li=link_to "Custom Order", new_custom_order_path
      .content.round
        = raw render_breadcrumbs
        .error
          - if notice
            %p#notice= notice
            %p#alert= alert

        = yield
    .footer.round