!!!
%html
  %head
    /[if lte IE 7]
      :javascript
        location.replace("/ie.html");
    %title=meta_title(params)
    %meta{:name => "keywords",    :content => meta_keywords(params)}
    %meta{:name => "description", :content => meta_description(params)}
    = stylesheet_link_tag "skins/default"
    =# stylesheet_link_tag :all
    =# javascript_include_tag :defaults
    %link{:href => "/favicon.ico", :rel => "icon", :type => "image/x-icon"}
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js", :type => "text/javascript"}
    %meta{:name=>"yandex-verification", :content=>"6f54cc299f439f71"}
    %meta{:name=>"yandex-verification", :content=>"6498203c1ef19b1d"}
    %meta{:content => "vC-2kwBjQ1ltjfSaJNBz2O1ScxV8QUvD9HvuOhk421I", :name => "google-site-verification"}
    %meta{:content => "97f67c8e02f425f6a608e1a8", :name => "verify-reformal"}/
    = csrf_meta_tag
    = yield :custom_css_js
  %body
    .wrap
      .header
        =link_to  root_url, :class=>"logo" do
          %img{:alt => "Logo", :height => "89", :src => "/images/skins/default/logo.png", :width => "309"}
          -if params[:controller]=='home'
            %h1="Магазин изделий ручной работы"
          -else
            %h2="Магазин изделий ручной работы"
        = render "layouts/nav"
        = render "carts/header_cart"
      .content_wrap
        .sidebar
          -if params[:controller]=='home'
            -cache 'sidebar' do
              .categories
                = render "categories/list"
              .masters
                = render "authors/list"
          -else
            -cache 'sidebar_full' do
              .categories
                = render "categories/list"
              .masters
                = render "authors/list_full"
        .content
          = yield
        .footer
          = render "layouts/footer"
        .top_bant
        .bottom_bant
=render "layouts/analytics"