!!!
%html
  %head
    %title=store_title(params)
    =# stylesheet_link_tag :all
    = stylesheet_link_tag "style"
    =# javascript_include_tag :defaults
    = yield :custom_css_js
    = csrf_meta_tag
    %link{:href => "/favicon.ico", :rel => "icon", :type => "image/x-icon"}
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
    %meta{:content => "handmade, хендмейд, ручная работа, сережки, кольца, браслеты, подвески, игрушки,подушки, текстиль, термопластика, полимерная глина, декупаж, интернет-магазин, Черкассы", :name => "keywords"}
    %meta{:content => "Здесь вы найдете уникальные украшения: сережки, кольца, браслеты; аксессуары; игрушки и массу других товаров.", :name => "description"}
  %body
    .header
      =link_to  root_path, :class=>"logo" do
        %img{:alt => "Logo", :height => "120", :src => "/images/logo.png", :width => "430"}
      .cart
        = render "carts/header_cart"
      .social_network
        =link_to "Twitter", "http://twitter.com/poshstore", {:class=>"twitter"}
        =link_to "Facebook", "http://www.facebook.com/pages/Poshstore/128906457181659?sk=wall", {:class=>"facebook"}
    .content_wrap
      .sidebar
        .categories
          = render "categories/list"
        -#.search
        -#  %h3 Поиск
        -#  %fieldset
        -#    %input.field{:type => "text", :value => ""}
        -#      %input.submit{:name => "submit", :src => "/images/search.png", :type => "image"}
        -#.best
        -#  %h2
        -#    %a{:href => "/"} Специальное предложение
        -#  .body
        -#    %a.img{:href => "/"}
        -#      %img{:alt => "1", :src => "/images/1.jpg"}/
        -#    %a.title{:href => "/"}
        -#      %h4 Мышонок с сердцем
        -#    %a.author{:href => "/"}
        -#      %h5 Mary Jane
        -#  %span.price 125 Грн
        -#  .top_left_corner
        -#  .top_right_corner
        -#  .bottom_left_corner
        -#  .bottom_right_corner
        .masters
          = render "authors/list"

        .banners

          = render "layouts/banners"
      .content
        .wrap
          =#.breadcrumbs
          =#  = raw render_breadcrumbs
          = yield
        -#.error
        -#  - if notice
        -#    %p#notice= notice
        -#    %p#alert= alert
        .bant
        .heart
        .cbottom_left_corner
        .cbottom_right_corner
    .footer
      = render "layouts/footer"
=render "layouts/analytics"