!!!
%html
  %head
    %title Store
    =# stylesheet_link_tag :all
    = stylesheet_link_tag "style"
    =# javascript_include_tag :defaults
    = yield :custom_css_js
    = csrf_meta_tag
  %body
    .header
      .logo

        = link_to t('layouts.application.hello'), root_path
      .cart
        = render "carts/header_cart"
    .wrapper.shadow
      .sidebar
        .categories
          = render "categories/list"
        .authors
          = render "authors/list"
        %ul.custom_order
          %li=link_to "Индивидуальный заказ", new_custom_order_path
      .content
        .breadcrumbs
          = raw render_breadcrumbs
        .error
          - if notice
            %p#notice= notice
            %p#alert= alert
        = yield
    .footer