!!!
%html
  %head
    %title=store_title(params)
    =# stylesheet_link_tag :all
    = stylesheet_link_tag "style"
    =# javascript_include_tag :defaults
    = yield :custom_css_js
    = csrf_meta_tag
    %link{:href => "/favicon.ico", :rel => "icon", :type => "image/x-icon"}
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
    %meta{:content => "ручная работа, подарки handmade, хендмейд, хенд мейд  сережки, кольца, браслеты, подвески, игрушки,подушки, текстиль, термопластика, полимерная глина, декупаж, интернет-магазин, Черкассы", :name => "keywords"}
    %meta{:content => "Здесь вы найдете изделия ручной работы хендмейд : сережки, кольца, браслеты; аксессуары; игрушки и массу других товаров.", :name => "description"}
    %meta{:name=>"yandex-verification", :content=>"6f54cc299f439f71"}
    %meta{:name=>"yandex-verification", :content=>"6498203c1ef19b1d"}
    %meta{:content => "ljGmqSSSKi-W1Ybo_zV7bRYXLAzlCyMt3C7FuDvmDuY", :name => "google-site-verification"}
  %body
    .wrap
      .header
        =link_to  root_url, :class=>"logo" do
          %img{:alt => "Logo", :height => "89", :src => "/images/logo.png", :width => "309"}
          %h2="Магазин изделий ручной работы"
        = render "layouts/nav"
        = render "carts/header_cart"

      .content_wrap
        .sidebar
          .categories
            = render "categories/list"
          .masters
            = render "authors/list"
          .banners
            = render "layouts/banners"
        .content
          = yield
        .footer
          = render "layouts/footer"
        .top_bant
        .bottom_bant
=render "layouts/analytics"